<%- include("partials/header"); -%>

<div class="row row-cols-1 row-cols-lg-4 m-3">
  <% let i=1 %>
  <% posts.forEach(function(post){ %>
  <div class="card h-100 mb-3 card-img-top">
    <a href="/posts/<%=post._id%>">
      <img src="/images/img" + <%i%> +".jpg">
      <% i++ %> </a>
      <div class="card-body" style="font-family: 'Quicksand', sans-serif;">
        <h2 class="card-title"><%=post.title%></h2>
        <p class="card-text" style="color: #545454;">
          <%=post.content.substring(0, 100) + " ..."%>
          <a href="/posts/<%=post._id%>" style="text-decoration: none; color: #a43f73;">Read More</a>
        </p>
      </div>
  </div>
  <% }) %>
</div>

<%- include("partials/footer"); -%>